.song-list {
  margin: 20px;
}

.song-list ul {
  padding: 0;
  list-style-type: none;
}

.song-list li {
  background: #6d3d6d;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.song-list li:hover {
  opacity: 0.7;
}

.empty {
  margin: 20px;
  text-align: center;
}
